

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/media/jj3.png');
    background-attachment: fixed;
    background-size: cover;
}

img {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-top: -50px;
}

.login-entries {
    background-color: #353935;
    padding: 20px;
    padding-top: 75px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 450px;
    height: 600px;
}

input {
    width: 350px;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    font-size: larger;
}

button.submit-button {
    width: 90px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
}

button.submit-button:hover {
    background-color: #ddd;
    transition: 150ms ease-in-out;
}

p, a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    border:none;
    margin-top: 5px;
}

p, a:hover {
    background-color: black;
    color: white;
}

h5 {
    color: white;
    font-size:larger;
}