<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>Profile - {{user_profile.user.username}} </title>
</head>
<body>

    <div class="back">
        <h1 class="back-button"><a href="/"> ◄ </a></h1>
    </div>
    <br>

    <div class='info'>
        <img class='pfp 'src="{{user_profile.profile_pic.url}}" alt="">
        <div class='info-plus'>
            <div>
                <span class='username'> {{ user_profile.user }} </span>
                <br>
                <span>{{ user_post_length }} Posts</span>
                <span>{{ follower_count }} Followers</span>
                <span>{{ following_count }} Following </span>
                <form class='follow-settings' action="/follow/" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" value="{{user.username}}" name='follower'/>
                    <input type="hidden" value="{{user_object.username}}" name="user">
                    {% if user_object.username == user.username %}
                    <a class='settings' href="/settings">Edit Profile</a>
                    {% else %} 
                    <a data-ripple=''><button type='submit'>{{button_text}}</button></a>
                    {% endif %}
                    <br>
                </form>

            </div>
        </div>
    </div>

    <textarea class="bio" name="bio" id="bio">{{ user_profile.bio }}</textarea>


    <div class='posts'>
        <ul>
            {% for post in user_posts %}
            <li><img src="{{post.image.url}}" alt=""></li>
            {% endfor %}
        </ul>
    </div>

    
</body>
</html>

<!--
<p>{{ post.caption }}</p>
</div>  
<p><a href='/like-post?post_id={{post.id_post}}'class='like-button'> ♥️</a> {{post.likes}}</p>

-->
